#!/bin/sh
cd /home/santos/scripts/ezops-test-hery

#install dependencies
npm install

#move deploy.sh to root
mv devops/deploy.sh deploy.sh

#change permission
chmod +x deploy.sh

#execute deploy.sh
bash deploy.sh

#move deploy.sh back to devops
mv deploy.sh devops/deploy.sh