#!/bin/sh
cd /home/santos/scripts/ezops-test-hery

# GET FILES IN DEVOPS FOLDER
DEVOPS_FILES=$(ls -ap devops | grep -v /) # This command list all não directories inside the folder "ls -ap devops | grep -v /"
DEVOPS_FILES=${DEVOPS_FILES#*..} #remove current and parent directory
echo "Devops files: ${DEVOPS_FILES}"

# moving files from devops
for i in ${DEVOPS_FILES} ; do
    echo "moving $i."
    mv devops/$i $i
done

# allow deploy script to execute
chmod +x deploy.sh

# execute deploy
bash deploy.sh

#moving back to devops
for i in ${DEVOPS_FILES} ; do
    echo "moving $i back to devops."
    mv $i devops/$i
done
